/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

/* Tailwind CSS & DaisyUI */
@import "tailwindcss";
@plugin "daisyui";

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}
/* Global Styles */
body {
  font-family: "Inter", sans-serif;
}

.text-gradient {
  @apply bg-gradient-to-r from-[#4A6CF7] via-[#3BADE3] to-[#2CD4C6] text-transparent bg-clip-text;
}

.bg-gradient {
  @apply bg-gradient-to-r from-[#4A6CF7] via-[#3BADE3] to-[#2CD4C6] text-white;
}

/* Animation */
@keyframes hang {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

.animate-hang {
  animation: hang 2s ease-in-out infinite;
}
